<div class="relative shadow-[inset_0_0_10px_rgba(0,0,0,0.5)] bg-[#ededed] bg-[url('https://i.ibb.co/NK17nG5/Pattern.webp')] bg-center bg-no-repeat my-5 py-5 border-t-white font-normal text-gray-600 rounded-lg" id="sub-wrap-wrapper">
	<div id="subscribe-css">
        <div id="subscribe-note-wrap">
            <p class="subscribe-note"><span>¿No quieres esperar?</span>
            <span class="itatu">¡No hay problema!</span>
            </p>
        </div>
	<p class="group m-6 text-gray-900 text-[16px] leading-5 tracking-wide font-normal text-pretty">Suscríbete a <strong>Cuanta Letra</strong> y recibe directamente en tu correo electrónico, las últimas publicaciones antes que los demas.</p>
	<div class="text-black text-[16px] leading-normal text-center transform-none font-normal w-full relative ">
	<div class="clear-both block overflow-hidden m-[25px_auto]">
	<form action="https://feedburner.google.com/fb/a/mailverify?uri=cuantaletra" onsubmit="window.open(this.href, 'windowName', 'width=550,height=600,left=24,top=24,scrollbars,resizable');return false;" class="clear-both inline-block sm:w-[90%] md:w-full max-w-[680px] overflow-hidden border-2 border-black rounded-lg" method="post" target="popupwindow">
	<input name="uri" type="hidden" value="cuantaletra" />
	<input name="loc" type="hidden" value="es_LA" />
	<input class="bg-transparent text-black italic font-Oswald tracking-wider text-[17px] m-[10px_0] p-[15px_20px] w-[65%] border-none focus:outline-none" name="email" placeholder="Ingresa tu correo" required />
	<button class="bg-black text-white cursor-pointer font-bold uppercase tracking-wider ml-[15px] transform-none text-[16px] border-none rounded-lg p-[18px_35px] h-full transition-all duration-700 hover:bg-alink hover:animate-pulse" type="submit" value="Subscribir" />
    </form>
	</div>
	</div>
	</div>
	</div>